body {
    font-family: "Raleway", sans-serif;
    background-color: black;
    }


    /* HERO */
    #hero img{
        width: 70%;
        border-radius: 30px;
    }

    /* NAVBAR */
    .navbar-brand{
        font-weight: 700;
    }
    

.navbar .navbar-nav .nav-link{
    text-transform: uppercase;

    .social-links a{
        width: 36px;
        height: 36px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        font-size: 2rem;
        color: darkslategrey;
        margin-left: 10px;
        text-decoration:none;
    }